.DS_Store
/MauiTesteApp/.vs/MauiTesteApp/FileContentIndex/*.vsidx
/MauiTesteApp/.vs/MauiTesteApp/DesignTimeBuild/*.v2
/SignalServer/bin
/SignalServer/obj
/SignalServer/.env
/SignalClient/obj
/SignalClient/bin
/PlataformaRPG/*.lock
/PlataformaRPG/windows/flutter/generated_plugin_registrant.cc
/PlataformaRPG/windows/flutter/generated_plugin_registrant.h
/PlataformaRPG/windows/flutter/generated_plugins.cmake